[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="13.218.229.151"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target